{{#prettify}}
    <!DOCTYPE html>
    <html>
    {{> head}}
    <body>
    <div id="page-wrap">
        {{> header}}
        {{> body}}
        {{> footer}}
    </div>
    <script src="{{assets}}js/main.min.js"></script>
    </body>
    </html>
{{/prettify}}